{%macro datos(name, placeholder, type='text')%}
<p><input name="{{name}}" placeholder="{{placeholder}}" type="{{type}}"></p>
{%endmacro%}

{% macro input_form(field) %}
<td>{{field.label}}</td>
<dd>{{field(**kwargs)|safe}}</dd>
{% endmacro %}

{% macro input_form_v2(field) %}
<div class="p-2">
    <label for="{{field.id}}">{{field.label}}</label>
    {{field(**kwargs)|safe}}
    {% if field.errors %}
    <ul>
        {% for error in field.errors %}
        <li style="color: red;">
             {{ error }}
        </li>
        {% endfor %}
    </ul>
    
    {% endif %}
</div>
{% endmacro %}

{% macro radio_button(field) %}
<div class="form-check">
    <label class="form-check-label" for="{{ field.id }}">{{ field.label}}</label>
    {{field(**kwargs)|safe}}

</div>

{% endmacro %}