{% extends "index.html"%}

{% block content %}
<div class="row ">
  <div class="col card m-3 p-4 align-items-center shadow">
    <div class="text-uppercase h1 ">
      <kbd>Calculadora</kbd>
    </div>
    <div class="row">
      <form class="form" action="/" method="POST">
        <div class="row mb-3">
          <label class="form-label" for="inputNumero1">Numero 1</label>
          <input class="form-control" type="text" name="numero1" id="inputNumero1">
        </div>
        <div class="row mb-3">
          <label class="form-label" for="inputNumero2">Numero 2</label>
          <input class="form-control" type="text" name="numero2" id="inputNumero2">
        </div>
        <div class="row mb-3">
          <select name="tipo" class="form-select">
            <option value="sumar">Sumar</option>
            <option value="restar">Restar</option>
            <option value="multiplicar">Multiplicar</option>
            <option value="dividir">Dividir</option>
          </select>
        </div>
        <div class="row ">
          <div class="col text-center">
            <input type="submit" value="Calcular" class="btn btn-primary">
          </div>

        </div>

      </form>
    </div>
  </div>

  {% if resultado is not none %}
  <div class="col card m-3 p-4 align-items-center shadow">
    <h1 class="text-uppercase"><kbd>Resultado</h1>
    <h1 class="mt-2">{{ resultado }}</h1>
  </div>

  {% endif %}

</div>


{% endblock %}