{% extends 'index.html' %}
{% import '_macros.html' as macros %}
{% block content %}

<div class="row ">
    <div class="col card m-3 p-4 align-items-center shadow">
        <div class="row">
            <h1 class="h1">
                <kbd class="">DISTANCIA ENTRE 2 PUNTOS</kbd>
            </h1>
        </div>

        <div class="row">
            <form action="" method="POST">
                <div class="row">
                    <div class="col">
                        {{ macros.input_form_v2(form.x1, class='form-control') }}
                    </div>
                    <div class="col">
                        {{ macros.input_form_v2(form.x2, class='form-control') }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ macros.input_form_v2(form.y1, class='form-control') }}
                    </div>
                    <div class="col">
                        {{ macros.input_form_v2(form.y2, class='form-control') }}
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center">
                        <input type="submit" value="CALCULAR" class="btn btn-primary">
                    </div>

                </div>

            </form>
        </div>


    </div>

    <div class="col card m-3 p-4 align-items-center shadow">
        <div class="row">
            <h1>
                <kbd>RESULTADO</kbd>
            </h1>

        </div>
        <div class="row">
            <span class="h3">{{ distancia }}</span>
        </div>
    </div>

</div>


{% endblock %}