{% extends 'index.html' %}
{% import '_macros.html' as macro %}
{% block content %}
<div class="row m-3 p-4 shadow border border-1">
    <div class="col">
        <div class="h1 d-flex justify-content-center">
            <kbd>RESULTADO</kbd>
        </div>

        <div class="row">HOLA <span class="h3 ">{{ nombre }}</span></div>
        <div class="row">TIENES <span class="h3">{{ edad }} AÑOS</div>
        <div class="row">TU SIGNO ZODIACAL ES: <span class="h3">{{ horoscopo_chino }}</span></div>

        <div class="row">
            <div class="col">
                <img src="static\imagenes\{{ ruta }}" class="rounded" alt="SIGNO" width="300" height="300">
            </div>
            
        </div>
    </div>
</div>
{% endblock %}